################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/2021.10.27 - vector/.vs/2021.10.27 - vector/v16/Browse.VC.opendb
/2021.10.27 - vector/.vs/2021.10.27 - vector/v16/Browse.VC.db-wal
/2021.10.27 - vector/.vs/2021.10.27 - vector/v16/Browse.VC.db-shm
/DLinkedList/.vs/DLinkedList/v16/Browse.VC.opendb
/2021.10.28 - vector/.vs/2021.10.28 - vector/v16/Browse.VC.opendb
/2021.10.28 - vector/.vs/2021.10.28 - vector/v16/Browse.VC.db-wal
/2021.10.28 - vector/.vs/2021.10.28 - vector/v16/Browse.VC.db-shm
/2021.10.28 - polsky, stack/.vs/2021.10.28 - polsky, stack/v16/Browse.VC.opendb
/2021.10.28 - polsky, stack/.vs/2021.10.28 - polsky, stack/v16/Browse.VC.db-wal
/2021.10.28 - polsky, stack/.vs/2021.10.28 - polsky, stack/v16/Browse.VC.db-shm
